@keyframes totheRight {
  0% {
    opacity: 0;
    transform: translateX(-15rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes totheLeft {
  0% {
    opacity: 0;
    transform: translateX(15rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes enlarging {
  0% {
    transform: scale(1);
    opacity: 0; }
  20% {
    transform: scale(0.8); }
  60% {
    transform: scale(1.2); }
  100% {
    transform: scale(1);
    opacity: 0.9; } }

@keyframes movetoTop {
  0% {
    transform: translateY(5rem);
    opacity: 0; }
  100% {
    transform: translate(0);
    opacity: 1; } }

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #f8f8f8; }

.heading-primary {
  color: #fff; }
  .heading-primary--main-header {
    display: block;
    text-transform: uppercase;
    font-size: 7.712rem;
    font-weight: 400;
    letter-spacing: 3rem;
    animation: totheRight 0.8s ease-out;
    backface-visibility: hidden; }
  .heading-primary--subtitle {
    display: block;
    text-transform: uppercase;
    font-size: 2.08rem;
    font-weight: 700;
    letter-spacing: 2.93rem;
    line-height: 4.8rem;
    animation: totheLeft 0.8s ease-out;
    backface-visibility: hidden;
    margin-bottom: 5rem; }

.heading-secondary {
  display: inline-block;
  color: rgba(255, 255, 255, 0);
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  background-image: linear-gradient(to right, #024b3b, #c5b13f);
  -webkit-background-clip: text;
  transition: 0.3s;
  cursor: pointer; }
  .heading-secondary:hover {
    transform: skew(-15deg) translatex(2.5rem); }

.tertiary-heading {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 2.1rem; }

.paragraph {
  font-size: 1.8rem;
  line-height: 2.5rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 2.8rem; }

.button-text {
  font-size: 1.8rem;
  text-decoration: none;
  color: #024b3b;
  border-bottom: 1px solid #024b3b;
  transition: 0.3s;
  padding: 0.8rem 1.5rem;
  display: inline-block; }
  .button-text:hover {
    background-color: #024b3b;
    color: #fff;
    border-radius: 2rem;
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.356); }
  .button-text:active {
    transform: translateY(0);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.356); }

.u-text-center {
  text-align: center; }

.u-margin-bottom-bigger {
  margin-bottom: 8rem; }

.u-margin-bottom-big {
  margin-bottom: 6rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.section-about {
  background-color: #f7f7f7;
  padding: 26rem 0;
  margin-top: -25vh; }

.button {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.8rem 4rem;
  display: inline-block;
  border-radius: 5rem;
  transition: 0.2s;
  position: relative;
  font-size: 1.65rem;
  letter-spacing: 0.22rem; }
  .button--animated {
    margin-right: 3.2rem;
    animation: movetoTop 0.5s 0.4s ease-out;
    animation-fill-mode: backwards; }
  .button:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 0.5rem 1.8rem rgba(0, 0, 0, 0.356); }
    .button:hover::after {
      transform: scaleX(1.4) scaleY(1.8);
      opacity: 0; }
  .button:active {
    transform: translateY(-1px);
    box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.356); }
  .button--white {
    background-color: #fff;
    color: #888; }
    .button--white::after {
      background-color: #fff; }
  .button::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5rem;
    z-index: -1;
    transition: 0.4s; }

.composition {
  position: relative; }
  .composition__photo {
    width: 52%;
    display: block;
    position: absolute;
    transition: 0.3s;
    box-shadow: 0.5rem 1.5rem 1.8rem 0.2rem rgba(0, 0, 0, 0.356); }
    .composition__photo--p1 {
      top: -2rem;
      left: 1rem; }
    .composition__photo--p2 {
      top: 4rem;
      right: 0; }
    .composition__photo--p3 {
      top: 15rem;
      left: 9rem; }
    .composition__photo:hover {
      outline: 0.5rem solid #c5b13f;
      outline-offset: 1.7rem;
      transform: translateY(3px) scale(1.15);
      z-index: 2;
      box-shadow: 0.5rem 1.5rem 3rem 1.5rem rgba(0, 0, 0, 0.356); }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.92); }

.header {
  height: 100vh;
  background-image: linear-gradient(to left bottom, rgba(255, 234, 117, 0.849), rgba(2, 75, 59, 0.795)), url(../img/header-big.jpg);
  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: relative; }
  .header__logo {
    position: absolute;
    top: 4.5rem;
    left: 4rem; }
  .header__logo-bird {
    width: 9rem;
    opacity: 90%;
    animation: enlarging 0.8s ease-out;
    animation-fill-mode: backwards; }
  .header__text-area {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 140rem;
  color: #000;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: block;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 *6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 *6rem) / 4); }
  .row .col-2-of-3 {
    width: calc( 100% - ((100% - 2 *6rem) / 3) - 6rem); }
  .row .col-3-of-4 {
    width: calc( 100% - ((100% - 3 *6rem) / 4) - 6rem); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 *6rem) / 4) + 6rem); }
