// colors

$color-font-white: #fff;
$color-font-light: rgb(248, 248, 248);
$color-font-grey: #888;
$color-font-black: #000;
$color-bg-light: rgb(255, 234, 117);
$color-bg-light-darken: rgb(197, 177, 63);
$color-bg-green: rgb(2, 75, 59);
$color-shadow: rgba(0, 0, 0, 0.356);
$color-background-main-page: #f7f7f7;

// font
$base-font-size: 1.8rem;

// gap

$section-max-width: 140rem;
$row-margin-bottom: 8rem;
$horizontal-gutter: 6rem;
