// colors

$color-font-white: #fff;
$color-font-light: rgb(248, 248, 248);
$color-font-grey: #888;
$color-font-black: #000;
$color-bg-light: rgb(253, 234, 127);
$color-bg-light-darken: rgb(197, 177, 63);
$color-bg-green: rgb(2, 75, 59);
$color-shadow: rgba(0, 0, 0, 0.356);
$color-background-main-page: #f7f7f7;

$color-card-1-light: rgb(16, 197, 122);
$color-card-1-dark: rgb(13, 107, 85);

$color-card-3-light: #fff6ce;
$color-card-3-dark: #ffd16d;

// font
$base-font-size: 1.8rem;

// gap

$section-max-width: 140rem;
$row-margin-bottom: 8rem;
$horizontal-gutter: 6.2rem;
