.footer {
  color: $color-font-light;
  padding: 8rem 1rem;
  background-color: $color-bg-footer;
  @include respond(tab-landscape) {
    padding: 6rem 0;
  }
  @include respond(phone) {
    padding: 5rem 0;
  }

  .logo-box {
    width: 12rem;
    margin: 0 auto;
    @include respond(phone) {
      width: 11rem;
    }

    .logo-image {
      width: 100%;
      display: block;
    }

    .logo-subtitle {
      text-align: center;
      text-transform: uppercase;
      font-size: 2.2rem;
      margin-top: 1.1rem;
      letter-spacing: 0.35rem;
      @include respond(phone) {
        letter-spacing: 0.25rem;
        margin-top: 1.3rem;
      }
    }
  }
  .row {
    margin-top: 6rem;
    font-size: 1.6rem;
    @include respond(tab-landscape) {
      max-width: 60rem;
      text-align: center;
      font-size: 1.7rem;
    }

    .footer__nav {
      border-top: 2px solid $color-font-grey;
      padding-top: 2rem;
      display: inline-block;

      .list-container {
        .list-item {
          display: inline-block;
          line-height: 3.4rem;
          @media (max-width: 413px) {
            min-width: 27%;
          }
          @media (max-width: 291px) {
            display: block;
          }
          &:not(:last-child) {
            margin-right: 3rem;
            @include respond(tab-landscape) {
              margin-right: 2rem;
            }
            @media (max-width: 291px) {
              margin-right: 0;
            }
          }
          .footer__link {
            display: block;
          }
        }
      }
    }

    .footer_copywright {
      border-top: 2px solid $color-font-grey;
      padding-top: 2rem;
      color: $color-font-light;
      line-height: 3.4rem;
      float: right;
      @include respond(tab-landscape) {
        float: none;
        text-align: center;
      }
    }
    .footer p {
      @include respond(tab-landscape) {
        text-align: center;
      }
    }
    .footer__link {
      color: $color-font-light;
      text-transform: uppercase;
      text-decoration: none;
      display: inline-block;
      background-color: $color-bg-footer;
      transition: 0.2s;
    }
    @media (hover: hover) {
      .footer__link:hover {
        transform: rotate(5deg) scale(1.13);
        color: $color-bg-light;
        text-shadow: 0 1rem 1rem black;
      }
    }
  }
}
