.row {
  max-width: $section-max-width;

  color: $color-font-black;
  margin: 0 auto;
  &:not(:last-child) {
    margin-bottom: $row-margin-bottom;
  }

  @include clearfix;

  [class^="col-"] {
    float: left;

    &:not(:last-child) {
      margin-right: $horizontal-gutter;
    }
  }
  .col-1-of-2 {
    width: calc((100% - #{$horizontal-gutter}) / 2);
  }
  .col-1-of-3 {
    width: calc((100% - 2 *#{$horizontal-gutter}) / 3);
  }
  .col-1-of-4 {
    width: calc((100% - 3 *#{$horizontal-gutter}) / 4);
  }
  .col-2-of-3 {
    width: calc(
      100% - ((100% - 2 *#{$horizontal-gutter}) / 3) - #{$horizontal-gutter}
    );
  }
  .col-3-of-4 {
    width: calc(
      100% - ((100% - 3 *#{$horizontal-gutter}) / 4) - #{$horizontal-gutter}
    );
  }
  .col-2-of-4 {
    width: calc(
      2 * ((100% - 3 *#{$horizontal-gutter}) / 4) + #{$horizontal-gutter}
    );
  }
}
