.header {
  height: 90vh;

  background-image: linear-gradient(
      to left bottom,
      rgba($color-bg-light, 0.849),
      rgba($color-bg-green, 0.795)
    ),
    url(../img/header-big.jpg);
  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: relative;
  //responsive image
  @media (max-width: 600px) {
    background-image: linear-gradient(
        to left bottom,
        rgba($color-bg-light, 0.849),
        rgba($color-bg-green, 0.795)
      ),
      url(../img/header-small.jpg);
  }
  // @media (max-width: 1920px) and (min-width: 900px) and (position: landscape) {
  //   height: 90vh;
  // }

  @media (max-width: 1799px) and (orientation: portrait) {
    height: 60vh;
  }
  @media (max-width: 75em) and (orientation: portrait) {
    height: 57vh;
  }
  @media (max-width: 56.25em) and (orientation: portrait) {
    clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
    height: 60vh;
  }
  @media (max-width: 56.25em) and (orientation: landscape) {
    height: 110vh;
  }
  @include respond(phone) {
    clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%);
  }
  @include respond(phone-420) {
    height: auto;
  }

  &__logo {
    position: absolute;
    top: 4.5rem;
    left: 4rem;
    @include respond(phone-420) {
      display: block;
      position: relative;
      top: 0;
      left: 0;
      margin: 0 auto 4rem;
      padding-top: 7rem;
    }
  }

  &__logo-bird {
    width: 9rem;
    opacity: 90%;
    animation: enlarging 0.8s ease-out;
    animation-fill-mode: backwards;
    @include respond(phone-420) {
      display: block;
      margin: 0 auto;
    }
  }

  &__text-area {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    @media (max-width: 1799px) {
      top: 45%;
    }
    @include respond(tab-landscape) {
      top: 50%;
    }
    @include respond(phone-420) {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0);
      padding-bottom: 15rem;
    }
  }
}
