.button {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.8rem 4rem;
  display: inline-block;
  border-radius: 5rem;
  transition: 0.2s;
  position: relative;
  font-size: 1.65rem;
  letter-spacing: 0.22rem;

  &--animated {
    margin-right: 3.2rem;
    animation: movetoTop 0.5s 0.4s ease-out;
    animation-fill-mode: backwards;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 0.5rem 1.8rem $color-shadow;

    &::after {
      transform: scaleX(1.4) scaleY(1.8);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.3rem 0.8rem $color-shadow;
  }

  &--white {
    background-color: $color-font-white;
    color: $color-font-grey;

    &::after {
      background-color: $color-font-white;
    }
  }

  &--green {
    background-color: $color-bg-light-darken;
    color: $color-font-white;

    &::after {
      background-color: $color-bg-light-darken;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5rem;
    z-index: -1;
    transition: 0.4s;
  }
}
