.card-box {
  background-color: rgba($color-font-white, 0.78);
  font-size: $base-font-size;
  text-align: center;
  padding: 4rem 3rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 2rem 0.6rem $color-shadow;
  transition: 0.3s;
  cursor: pointer;

  &__card-icon {
    display: block;

    font-size: 7rem;

    margin-bottom: 1.2rem;
    color: transparent;

    background-image: linear-gradient(
      to right,

      $color-bg-green,
      $color-bg-light-darken
    );
    -webkit-background-clip: text;
  }

  &__card-text {
    line-height: 1.4;
  }
  &:hover {
    transform: translateY(-1rem) scale(1.05);
    box-shadow: 0 1.5rem 2.5rem 1rem $color-shadow;
  }
}

// -------journeys section---------

.card2-item {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  min-height: 49.4rem;
  &__card-side {
    min-height: 49.4rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.6s;
    backface-visibility: hidden;
    box-shadow: 0 1rem 2.5rem 0.001rem rgba(124, 124, 124, 0.253);
    border-radius: 4px;
    overflow: hidden;
    &--front {
      background-color: white;
    }
    &--back {
      background-color: rgb(228, 228, 107);
      transform: rotateY(180deg);

      &--1 {
        background-image: linear-gradient(
          to right top,

          $color-card-1-dark,
          $color-card-1-light
        );
      }
      &--2 {
        background-image: linear-gradient(
          to right top,

          $color-bg-light-darken,
          $color-bg-light
        );
      }
      &--3 {
        background-image: linear-gradient(
          to right top,

          $color-card-3-dark,
          $color-card-3-light
        );
      }
    }
  }
  &:hover &__card-side--front {
    transform: rotateY(-180deg);
  }
  &:hover &__card-side--back {
    transform: rotateY(0);
  }

  //   front card styling

  .card2-image {
    height: 24rem;
    background-blend-mode: color;
    background-size: cover;
    background-position: bottom;
    clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
    &--1 {
      background-image: linear-gradient(
          to right top,
          $color-card-1-dark,
          $color-card-1-light
        ),
        url(../img/card2-1.jpg);
    }
    &--2 {
      background-image: linear-gradient(
          to right top,
          $color-bg-light-darken,
          $color-bg-light
        ),
        url(../img/card2-2.jpg);
    }
    &--3 {
      background-image: linear-gradient(
          to right top,
          $color-card-3-dark,
          $color-card-3-light
        ),
        url(../img/card2-3.jpg);
    }
  }
  .card2-header {
    position: absolute;
    top: 17rem;
    right: 2rem;

    text-align: right;
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $color-font-white;
    line-height: 1.48;
    width: 73%;

    .header__span {
      padding: 0.8rem 1.1rem;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      &--col1 {
        background-image: linear-gradient(
          to right top,
          rgba($color-card-1-dark, 0.85),
          rgba($color-card-1-light, 0.85)
        );
      }
      &--col2 {
        background-image: linear-gradient(
          to right top,
          rgba($color-bg-light-darken, 0.85),
          rgba($color-bg-light, 0.85)
        );
      }
      &--col3 {
        background-image: linear-gradient(
          to right top,
          rgba($color-card-3-dark, 0.89),
          rgba($color-card-3-light, 0.83)
        );
      }
    }
  }
  .card2-text {
    padding-top: 4.5rem;
    ul {
      list-style: none;
      text-align: center;
      font-size: 1.62rem;
      width: 70%;
      margin: 0 auto;
      li {
        padding: 0.8rem;
        &:not(:last-child) {
          border-bottom: 1px solid $color-underline-gray;
        }
      }
    }
  }
  //   styling back

  .card-back-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    color: $color-font-white;
    .price-box {
      .price-text {
        font-size: 1.7rem;
        margin-bottom: 1rem;
        text-transform: uppercase;
      }
      .price-value {
        font-size: 7rem;
        font-weight: 100;
        margin-bottom: 6.5rem;
      }
    }
  }
}
