.composition {
  position: relative;
  @include respond(tab-portrait) {
    margin-top: 4rem;
  }

  &__photo {
    width: 52%;
    display: block;
    position: absolute;
    transition: 0.3s;
    box-shadow: 0.5rem 1.5rem 1.8rem 0.2rem $color-shadow;
    @include respond(tab-portrait) {
      display: inline-block;
      position: relative;
      width: 30%;
    }
    &--p1 {
      top: -2rem;
      left: 1rem;
      @include respond(tab-portrait) {
        top: -0.5rem;
        left: 0;
        transform: scale(1.1);
      }
    }
    &--p2 {
      top: 4rem;
      right: 0;
      @include respond(tab-portrait) {
        top: -1rem;
        left: 0;
        transform: scale(1.3);
        z-index: 2;
      }
    }
    &--p3 {
      top: 15rem;
      left: 9rem;
      @include respond(tab-portrait) {
        top: 0;
        left: 0;
      }
    }

    @media (hover: hover) {
      &:hover {
        outline: 0.5rem solid $color-bg-light-darken;
        outline-offset: 1.7rem;
        transform: translateY(3px) scale(1.15);
        z-index: 2;
        box-shadow: 0.5rem 1.5rem 3rem 1.5rem $color-shadow;
      }
    }
  }
  @media (hover: hover) {
    &:hover &__photo:not(:hover) {
      transform: scale(0.92);
    }
  }
}
