.form {
  max-height: 100%;
  color: inherit;
  font-family: inherit;
  margin-top: 3.5rem;
  &__group {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
    .form__label {
      display: block;
      color: #777;
      padding-top: 1.1rem;
      padding-left: 1.7rem;
      font-size: 1.4rem;
      font-weight: 700;
      transition: 0.3s;
    }
    .form__input {
      display: block;
      padding: 1.4rem 1.7rem;
      font-size: 1.6rem;
      border-radius: 2px;
      border: none;
      width: 90%;
      background-color: rgba($color-font-white, 0.87);
      border-bottom: 3px solid transparent;
      transition: 0.3s;

      &:focus {
        outline: none;
        box-shadow: 0 0.6rem 1rem $color-shadow;
        border-bottom: 3px solid $color-bg-light-darken;
      }
      &:focus:invalid {
        border-bottom: 3px solid red;
      }
      &::-webkit-input-placeholder {
        color: #888;
      }
      &:placeholder-shown + .form__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-45px);
      }
    }
    .form__group-radio {
      font-size: 1.6rem;
      display: inline-block;

      &:not(:first-child) {
        margin-left: 3.5rem;
      }

      .input__radio {
        display: none;
        &:checked + .label__radio .radio-button__new::after {
          opacity: 1;
        }
      }
      .label__radio {
        cursor: pointer;
        display: block;
        position: relative;
        padding-left: 3.2rem;

        .radio-button__new {
          display: block;
          height: 2.4rem;
          width: 2.4rem;
          border: 3px solid $color-bg-green;
          border-radius: 50%;
          position: absolute;
          top: -2px;
          left: 0;
          &::after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-bg-green;
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;
            opacity: 0;
          }
        }
      }
    }
  }
  .btn-form {
    border: none;
    margin-top: 3rem;
  }
}
