*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(tab-landscape) {
    font-size: 56.25%;
  }
  @include respond(tab-portrait) {
    font-size: 50%;
  }
  @media (max-width: 56.25em) and (orientation: landscape) {
    font-size: 44%;
  }
  @include respond(phone) {
    font-size: 44%;
  }
  @include respond(phone-420) {
    font-size: 44%;
  }
  @include respond(big-desctop) {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
}

::selection {
  background-color: green;
  color: #eee;
}
