.section-about {
  background-color: $color-background-main-page;
  padding: 26rem 0;
  margin-top: -25vh;
}

.section-cards {
  padding: 20rem 0;
  background-image: linear-gradient(
      to left bottom,
      rgba($color-bg-light, 0.849),
      rgba($color-bg-green, 0.795)
    ),
    url(../img/cards-background-big.jpg);
  background-position: center;
  background-size: cover;
  transform: skewY(-6deg);
  margin-top: -10rem;

  & > * {
    transform: skewY(6deg);
  }
}

.section-journeys {
  padding: 25rem 0 0.1rem;
  background-color: $color-background-main-page;
  margin-top: -8.2rem;
}

section.opinions {
  padding: 11rem 0 10rem;

  position: relative;
}

section.opinions .row:not(:last-child) {
  margin-bottom: 4.6rem;
}
