.section-about {
  background-color: $color-background-main-page;
  padding: 26rem 0;
  margin-top: -25vh;
}

.section-cards {
  padding: 20rem 0;
  background-image: linear-gradient(
      to left bottom,
      rgba($color-bg-light, 0.849),
      rgba($color-bg-green, 0.795)
    ),
    url(../img/cards-background-big.jpg);
  background-position: center;
  background-size: cover;
  transform: skewY(-6deg);
  margin-top: -10rem;

  & > * {
    transform: skewY(6deg);
  }
}

.section-journeys {
  padding: 25rem 0 0.1rem;
  background-color: $color-background-main-page;
  margin-top: -8.2rem;
}

section.opinions {
  padding: 11rem 0 6rem;

  position: relative;
}

section.opinions .row:not(:last-child) {
  margin-bottom: 4.6rem;
}

section.form-section {
  padding: 15rem 0;
  min-height: 50rem;
  background-image: linear-gradient(
    to right bottom,

    $color-bg-green -55%,
    $color-bg-light
  );

  .form-box {
    background-image: linear-gradient(
        105deg,
        rgba(255, 255, 255, 0.87) 0%,
        rgba(255, 255, 255, 0.87) 55%,
        transparent 55%
      ),
      url(../../img/form-section-big.jpg);
    background-size: cover;
    background-position: center;
    width: 80%;
    margin: 0 auto;
    height: 50vw;
    max-height: 56rem;
    border-radius: 4px;
    box-shadow: 0 0.5rem 3rem 3px $color-shadow;
    .form-text-container {
      width: 50%;
      height: 100%;
      padding: 7rem;
    }
  }
}
